[Unit]
Description=Create symlinks for partition on the current slot
Before=local-fs.target system-etc-ld.config.28.txt.mount systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/slotmount.sh

[Install]
WantedBy=local-fs.target